<div class="wrapper">
  <div *ngIf="!loading" class="card">
    <div class="body">
      <img class="logo" src="../../../assets/img/forgot-password.png" alt="logo" />
      <h1 class="mb-4">Recuperar</h1>
      <form [formGroup]="recoverPassword" (ngSubmit)="recover()">
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="email"
            />
            <label>Email</label>
          </div>
          <span class="input-group-text"><i class="bx bx-envelope"></i></span>
        </div>
        <div class="text-start errorLabel mb-3">
          <span
            *ngIf="
              recoverPassword.get('email')?.hasError('required') &&
              recoverPassword.get('email')?.touched
            "
            class="text-danger"
            >El <strong>correo</strong> es obligatorio</span
          >
        </div>
        <div class="text-start errorLabel mb-3">
          <span
            *ngIf="
              recoverPassword.get('email')?.hasError('email') &&
              recoverPassword.get('email')?.touched
            "
            class="text-danger"
            >El <strong>correo</strong> es inválido</span
          >
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-primary mt-3" [disabled]="recoverPassword.invalid" type="submit">Recuperar</button>
        </div>
        <p class="anchor mt-3">
          <a routerLink="/login">Volver</a>
        </p>
      </form>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
