<div class="wrapper">
  <div class="card">
    <div class="body">
      <img class="logo" src="../../../assets/img/login.png" alt="logo" />
      <h1 class="mb-4">login</h1>
      <form>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input type="email" class="form-control" placeholder="email" />
            <label>Email</label>
          </div>
          <span class="input-group-text"><i class="bx bx-envelope"></i></span>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              placeholder="password"
            />
            <label>Password</label>
          </div>
          <span class="input-group-text"><i class="bx bx-key"></i></span>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary mt-3" type="button">Ingresar</button>
        </div>
        <p class="anchor mt-3">
          No tienes cuenta? <a routerLink="/register-user">Registrar</a>
        </p>
        <div class="anchor mb-3">
          <a routerLink="/recover-password">Olvidé mi contraseña</a>
        </div>
      </form>
    </div>
  </div>
</div>
